/*CSS DOCUMENT*/
.title {
    color:rgb(85,161,189);
}
body {
    background-color:rgb(252,248,240);
}
h1{
    color:rgb(13,48,112);
}
h2{
    color:rgb(85,161,189);
}
h3 {
    color:rgb(13,48,112);
}
h4 {
    margin-bottom: 0em;
    color:rgb(85,161,189);
}
p {
    font-family: sans-serif;
    font-size: 10pt;
    margin: .3em;
}
.price {
   font-style: italic 
}
